# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Coffee Machine/*
!/Coffee Machine/task/
/Coffee Machine/task/*
!/Coffee Machine/task/src/
!/Coffee Machine/task/build.gradle
!/Coffee Machine/task/build.gradle.kts
